PORT=5000

MONGO_URL=mongodb+srv://shounakdevelopment_db_user:<db_password>@cluster0.34yierh.mongodb.net/?appName=Cluster0
REDIS_URL=rediss://default:dgfnmfdmdfdbsjdvbye343634dsdsgsge4tetere33ygft5e5@definite-duckling-7077.upstash.io:6379

APP_NAME=AUTHENTICATION-SERVICE
FRONTEND_URL=http://localhost:5173

SMTP_USER=testmail@gmail.com
SMTP_PASSWORD=testpassword

ACCESS_TOKEN_SECRET=YLihuI6I125nho4WnbsITmmKnKZqCM7hBqAh5eTjBU1m3KXPUPwoOZDJGjiGWSwVoL3yY4JDIbx1sVQ34UKMlA==
REFRESH_TOKEN_SECRET=NMUlYKEQw8uwI0Xc9J+5QbRcaw248lxgqRUP2If0J//RZKRUPlumAgcvLiNtNzNyjScLuPTOe+wdAmyDSMYFpg==